@import 'bootstrap/scss/functions';
@import './helpers/_variables'; // 自定義
@import './helpers/colors';
@import './helpers/mixin';

@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/bootstrap';

@import './helpers/reset';
@import './helpers/base';

@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'vue-loading-overlay/dist/css/index.css';

body {
  letter-spacing: 1.6px;
}

.single-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
